.App {
  margin: auto;
  max-width: 800px;
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 30px;
  padding: 30px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}