.message{
  box-shadow: 0 4px 8px 0 rgba(0, 0 ,0 , 0.2);
  word-wrap: break-word;
}


.text-others{
  text-align: left;
  background-color:ivory;
  margin-right: 50%;
  margin-left: 2%;
  border-radius: 10px;
}


.text-you{
  text-align: left;
  background-color:powderblue;
  margin-left: 50%;
  margin-right: 2%;
  border-radius: 10px;
}


.text-server{
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 25px;
}